.html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.separator {
  width: 400px;
  height: 100vh;
  background-color: #D3D3D3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.rest-screen {
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex:1;
}

.image {
  margin-top: 1rem;
  justify-content: left;
  max-width: 350px;
  max-height: 500px;
  display: flex;
}

.nav-sidebar {
  width: 300px;
  height:100vh;
  margin-top: 240px;
  position: fixed;
}

.nav-button {
  font-size:x-large;
  margin-bottom: 20px;
  background-color: transparent;
  -webkit-text-fill-color: black;
  cursor: pointer;
  font-family: 'Consolas', monospace;
  transition: color 0.3s;
}

.nav-button:hover {
  color: blue;
}

.page-container {
  background-color: transparent;
  width: 100%;
  max-width: 800px;
  height: 600px;
}

.input-text {
  background-color:#D3D3D3;
  color: black;
  padding: 10px;
  font-size: 24px;
}

.form-row {
  margin-bottom: 40px;
  display:flex;
  gap: 50px;
  width: 100%;
}

.form-column {
  flex: 1;
  flex-direction: column;
  display: flex;
}

.button-lending-position {
  justify-content: center;
  text-align: center;
  border-radius: none;
  background-color: rgb(95, 192, 225);
  padding: 15px;
  width: 300px;
  font-family: 'Consolas', monospace;
  margin-top: 40px;
  margin-left: 240px;
}

.font-style {
  color: black;
  font-family: 'Consolas', monospace;
}

.rest-screen table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 500px;
}

.rest-screen th, td {
  border: 1px solid gray;
  padding: 20px;
  text-align: left;
}

.rest-screen thead {
  background-color:#D3D3D3; 
}

.rest-screen tbody {
  background-color:#f0f0f0; 
}

.button-row {
  justify-content: center;
  margin-right: 299px;
}